:global(#root) i.enterButton {
  background-color: var(--message-frame)!important;
}

.entry {
  flex: 0 0 auto;
}

/*noinspection ALL*/
#entry {
  width: 100%;
}


.recordingIcon{
  margin-left: 10px !important;
}
.chatInput{
  width: 90% !important;
}

