.options {
    padding: 10px 15px;
    margin-top: 7px;
}

.conversation-details {
    padding: 10px 15px;
    margin-top: 7px;
}

.alert-details-button {
    background-color: white;
    text-align: center;
    width: 5vw;
    min-width: 80px;
    padding: 1vw;
}

#language-form {
    margin-left: auto;
    margin-right: auto;
}