
.mainGrid {
  height: 100%;
}

#appGroupId {
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(100% - var(--header-height) + 14px);
  overflow: auto;
}

#appGroupId {
  margin-left: 0;
  margin-right: 0;
}

#appGroupId > * {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.gridColumn{
  margin: 0;
  padding: 0;
}

.loginForm{
  margin: 0 auto !important;
  width: 500px;
  top: 20%;
}