
.mainGrid {
  height: 100%;
}

#appGroupId {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#appGroupId {
  margin-left: 0;
  margin-right: 0;
}

#appGroupId > * {
  padding-left: 0;
  padding-right: 0;
}

.gridColumn{
  height: 100%;
}