
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


:root{
  --main-background-image: url("https://images.unsplash.com/photo-1547592180-85f173990554?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  --header-height: 60px;
  --logo-height: 40px;
  --main-title-font-size: 40px;
  --overlay-color: rgba(0,0,0,0.5);

  --chat-container-background: rgba(255,255,255,1);
  --chat-container-top: 10px;
  --chat-container-border-radius: 5px;
}
.app {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-image: var(--main-background-image);
  background-size: cover;
}

.appHeader {
  background-color: var(--header-top);
  height: var(--header-height);
  background-color: black;
}

.appLogo {
  position: absolute;
  height: var(--logo-height);
  left: 0;
  top: calc((var(--header-height) - var(--logo-height)) / 2) !important;
  left: 20px;
}

.appTitle {
  font-size: var(--main-title-font-size);
  font-family: 'Amatic SC', cursive;
  text-align: center;
  color: white;
  height: var(--header-height);
  width: 100%;
  position: absolute;
  top: calc((var(--header-height) - var(--main-title-font-size)  - 10px) / 2) !important;
  margin: 0;
}

.mainTab {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

:global(#root) .mainTabPane {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding-top: 0;
  padding-bottom: 0;
}

.overlayLayer{
  background-color: var(--overlay-color);
  height: 100%;
  width: 100%;
}

.appFooter{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  color: white;
}
